<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/52c1173b-d124-4c04-b88c-2b80cf14c34f/resourceGroups/BingoBackend20230304174159ResourceGroup/providers/Microsoft.ApiManagement/service/BingoBackendapi/apis/Bingo-backend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/52c1173b-d124-4c04-b88c-2b80cf14c34f/resourceGroups/BingoBackend20230304174159ResourceGroup/providers/Microsoft.Web/sites/Bingo-backend</ResourceId>
    <ResourceGroup>BingoBackend20230304174159ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://bingo-backend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>15508fe7-c516-4de2-823a-4661ba6c62a5</ProjectGuid>
    <PublishUrl>https://bingo-backend.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Bingo-backend</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>