#General
/.vscode
/java
/.vs

#Nodejs Files
/nodejs/node_modules
/nodejs/.env
/nodejs/TODO.md
/nodejs/.vscode

#dotnet backend
/back-c/.vs
/back-c/.vscode
/back-c/bin
/back-c/obj
/back-c/*.suo
/back-c/*.user
/back-c/*.userosscache
/back-c/*.sln.docstates
/back-c/BingoBackend/out
/back-c/BingoBackend/appsettings.json
/back-c/BingoBackend/appsettings.*.json

