#General
/.vscode
/java
/.vs

#Nodejs Files
/nodejs/node_modules
/nodejs/.env
/nodejs/TODO.md
/nodejs/.vscode

#dotnet backend
/back-c/.vs
/back-c/.vscode
/back-c/bin
/back-c/obj
/back-c/Bingo Backend/appsettings.json
