body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-color{
  background: rgb(29, 28, 28, 1);
  color: #ffffff;
}

#principal-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bingo-table {
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
  background: linear-gradient(to right, #3f2b96, #a8c0ff);
  width: 600px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#div-gamers {
  width: 600px;
}

#table-gamers {
  width: 350px;
  margin-left: 250px;
  border-radius: 25px;
  background-color: #e7e7e9;
  margin-bottom: 50px;
  margin-left: 125px;
}

.secondary-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bingo-btn {
  width: 600px;
}

/* *Ballotas salientes*/
.ballots-div {
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

#ballots-list {
  font-size: 25px;
}

#countdown-sec {
  font-size: 27px;
}

.token {
  display: block;
  margin: 9px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#table {
  width: 525px;
  margin: auto;
}

.token-bingo {
  display: block;
  margin: 9px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(255, 193, 7);
}

#div-alert {
  font-size: 25px;
}

#div-winner {
  font-size: 50px;
}
