body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-color{
  background: rgb(29, 28, 28, 1);
  color: #ffffff;
}

#principal-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bingo-table {
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
  background: linear-gradient(to right, #3f2b96, #a8c0ff);
  width: 600px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#div-gamers {
  width: 600px;
}

#table-gamers {
  width: 350px;
  margin-left: 250px;
  border-radius: 25px;
  background-color: #e7e7e9;
  margin-bottom: 15px;
  margin-left: 125px;
}

.secondary-div {
  background: rgb(29, 28, 28, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#bingo-btn {
  width: 600px;
}

.ballots-div {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}

#ballots{
  background-color: beige;
  color: black;
  border-radius: 8px;
}

.cell-number{
  padding: 7px;
  font-size: 20px;
  border: outset #555555 2px;
  text-align: center;
}

#first-th-ballots {
  border-top-left-radius: 10px;
}

#last-th-ballots {
  border-bottom-left-radius: 10px;
}

.ballots-th{
  color:#5d5d5f;
  background-color: #eff77f;
  padding: 10px;
  text-shadow: 1px 1px 1px rgb(199, 199, 199);
  border: inset #555555 2px;
}

#ballots-list {
  font-size: 25px;
}

#countdown-sec {
  font-size: 27px;
}

.token {
  display: block;
  margin: 9px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#table {
  width: 525px;
  margin: auto;
}

.token-bingo {
  display: block;
  margin: 7px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(255, 193, 7);
}

#div-alert {
  font-size: 25px;
}

#div-winner {
  font-size: 50px;
}