body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#principal-div{
    background-color: rgb(21, 20, 24);
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-form{
    margin-top: 15%;
    margin-bottom: 46%;
    background-color: rgb(231, 229, 229);
    border-radius: 25px;
    width: 500px;
    padding: 50px 85px;
}

h3{
    padding: 0px 0px 15px 0px;
    font-weight: 600;
}