$colors: (
  _1: #27374d,
  _2: #526d82,
  _3: #9db2bf,
  _4: #dde6ed,
);

//Fonts
$lato: 'Lato', sans-serif;
$openSans: 'Open Sans', sans-serif;
$rowdies: 'Rowdies', cursive;
$indieFlower: 'Indie Flower', cursive;
