body{
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    background: linear-gradient(to right, #eaafc8, #654ea3);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#principal-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-form{
    margin-top: 15%;
    background-color: rgb(253, 253, 253);
    border-radius: 25px;
    width: 500px;
    padding: 50px 85px;
}

h3{
    padding: 0px 0px 15px 0px;
    font-weight: 500;
}