html(lang='en')
	head
		meta(charset='UTF-8')
		title Login
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='/css/styles.css')
		script(src='https://cdn.socket.io/4.5.3/socket.io.min.js' integrity='sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi' crossorigin='anonymous')
	body 
		div.login-container
			div.login-container__title
				h1 Bingo multijugador online
			div.login-container__form
				h2 Ingresar
				form#login-form(role='form' method='POST' action='/login')
					input#input-user(type='text' name='username' placeholder='Username' required='required')
					input#input-password(type='password' name='password' placeholder='Password' required='required')
					button#submit-btn.btn.btn-primary.btn-block.btn-large(type='submit') Entrar.
					p.handler-signup ¿No estas registrado? 
						a(href='signup') registrarse
					#error-message.error-message
						if message 
							p #{message}
					button#invite-btn.btn.btn-primary.btn-block.btn-large.btn-invite(type='button') Ingresar como invitado
	script(type='text/javascript' src='/js/login.js')
